body {
    font-family:sans-serif;
    background-color: white;
}

.topleft {
    float:right;
    font-size: 13px;
}

.profile {
    margin-right: 9px;
    border-radius: 50%;
    width: 33px;
    height: 33px;
}

.test {
    display: inline-block;
    margin-right: 15px;
    padding: 10px;
    width: 18px;
    height: 18px;
    margin-left:18px;
    margin-top: 0px;
}

.dots {
    float: right;
    width: 18px;
    height: 18px;
}



.nuoroda {
    vertical-align: 15px;
    margin-right: 6px;
    font-weight: lighter;
    text-decoration: none;
    color: black;
}

.test:hover {
    border-radius: 50%;
    background-color: rgb(241, 241, 241);
}

.nuoroda:hover {
    text-decoration: underline;
}

#logo {
    /* float:center; */
    /* align-content: center; */
    /* padding-top:240px; */
    margin-top:-4px;
    padding-bottom: 20px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    padding:inherit;
    width:273px;
    align-content: center;
    /* white-space: nowrap; */
}

#center {
    align-content: center;
    padding: auto;
    float: center;
    /* width: 592px; */
}

.box {
    padding-top: 240px;
    float:center;
    width: 592px;
    margin:auto;
    align-content: center;
}

#search {
    /* Reikia padaryt kad mažėtų iki 400px width */
    border: 1px solid rgb(228, 228, 228);
    height: 44px;
    width: 582px;
    border-radius: 30px;
    margin-top:26px;
    margin-left:6px;
}

#search input[type=text] {
    margin-left: 40px;
    margin-top:-500px;
    font-size: 17px;
    font-weight: lighter;
    position: center;
    height: 30px;
    width: 75%;
    border: 0;
    outline: none;
}

.search_icon {
    width: 14px;
    margin-left:-475px;
    margin-top:15px;
}

#in_search {
    /* width: 22px;
    height: 22px; */
    /* margin-top:-36px; */
    /* margin-left: 200px; */
}