body {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background-color: white;
}
/* -------- Top Left Content -------- */
.topleft {
    width: 210px;
    height: 65px;
    display: flex;
    float:right;
    justify-content: space-around;
    font-size: 13px;
    align-items: center;
}

.profile {
    margin-right: 9px;
    border-radius: 50%;
    width: 33px;
    height: 33px;
}

.for-dots {
    padding: 10px;
    width: 18px;
    height: 18px;
}

.dots {
    width: 18px;
    height: 18px;
}

.nuoroda {
    font-weight: lighter;
    text-decoration: none;
    color: black;
}

.for-dots:hover {
    border-radius: 50%;
    background-color: rgb(241, 241, 241);
}

.nuoroda:hover {
    text-decoration: underline;
}

/* -------- Middle Section Content -------- */

.main-box {
    padding-top: 270px;
    /* border: solid black; */
}

.center-content {
    /* border: solid rgb(255, 0, 0); */
    min-width: 400px;
    max-width: 592px;
    margin: auto;
}

.google-logo {
    padding-bottom: 20px;
    display: block;
    margin: auto;
    width:273px;
}

.search {
    border: 1px solid rgb(228, 228, 228);
    height: 44px;
    min-width: 400px 592px;
    border-radius: 30px;
    margin: 26px 6px 0 6px;
}

.search:hover {
    box-shadow: 0 0 6px rgba(33,33,33,.2); 
}

.search input[type=text] {
    margin-left: 20px;
    margin-top: 7px;
    font-size: 17px;
    font-weight: lighter;
    position: center;
    height: 30px;
    width: 60%;
    border: 0;
    outline: none;
}

.search_icon {
    width: 14px;
    float: left;
    margin: 14px 0 0 12px;
}

.in_search {
    /* width: 22px;
    height: 22px; */
    /* margin-top:-36px; */
    /* margin-left: 200px; */
}